{% extends "base.html" %}
{% block title %}Halaman Edit Category{% endblock %}

{% block content %}
        <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <h2>Edit Kategori</h2>
                </div>
                <div class="col-sm-6 col-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb">&nbsp Form &nbsp / &nbsp</li>
                    <li class="breadcrumb-item active">Kategori</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card masks-input">
                  <div class="card-header card-no-border pb-0">
                    <h3>Form Edit Kategori</h3>
                    <p class="mt-1 mb-0">Silahkan edit data Kategori yang ada.</p>
                  </div>
                  <div class="card-body">
                    <div class="row g-3">
                      <div class="col-12">
                        <div class="card-wrapper border rounded-3 light-card checkbox-checked">

                          <form class="row g-3" action="/updateCategory" method="post" enctype="multipart/form-data" id="addItemForm">

                            {% for data_cat in data_category %} <!-- tampilkan data product -->
                            <div class="col-xxl-4 col-sm-6 mt-3">
                              <label class="col-form-label" for="idcat">ID Product</label>
                              <input class="form-control" name="idcat" id="idcat"
                                     type="text" value="{{ data_cat['id'] }}" readonly >
                            </div>
                            <div class="col-xxl-4 col-sm-6 mt-3">
                              <label class="col-form-label" for="name">Nama Kategori</label>
                              <input class="form-control" name="name" id="name"
                                     type="text" value="{{ data_cat['name'] }}">
                            </div>
                            <div class="col-xxl-4 col-sm-12 mt-2">
                              <label class="form-label" for="description">Deskripsi</label>
                              <textarea class="form-control" name="description" id="description" rows="3">{{ data_cat['description'] }}</textarea>
                            </div>
                          <div class="col-xxl-4 col-sm-12 text-left mt-2">
                            <button class="btn btn btn-primary me-2" type="submit">Update Category</button>
                            <a href="/list_category" class="btn btn-secondary" type="submit">Batal</a>
                          </div>
                          {% endfor %}

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}