<script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/jquery/jquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <!--fontawesome-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/font-awesome/fontawesome-min.js"></script>
    <!-- feather-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/feather-icon/feather.min.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/feather-icon/custom-script.js"></script>

    <!-- sidebar -->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/sidebar.js"></script>
    <!-- config-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/config.js"></script>

    <!-- apex-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/chart/apex-chart/stock-prices.js"></script>

    <!-- scrollbar-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/scrollbar/simplebar.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/scrollbar/custom.js"></script>

    <!-- slick-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/slick/slick.min.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/slick/slick.js"></script>

    <!-- datatables-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/js-datatables/simple-datatables@latest.js"></script>
    <!-- custom_list_product-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/custom-list-product.js"></script>

    <!-- touchspin -->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/touchspin_2/custom_touchspin.js"></script>
    <!-- data_table-->
    <!-- swiper-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/swiper/swiper-bundle.min.js"></script>

    <!-- theme_customizer-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/theme-customizer/customizer.js"></script>
    <!-- dashboard_2-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/dashboard/dashboard_2.js"></script>

<!-- counter-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/counter/jquery.waypoints.min.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/counter/jquery.counterup.min.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/counter/counter-custom.js"></script>
    <!-- theme_customizer-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/theme-customizer/customizer.js"></script>
    <!-- prism-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/prism/prism.min.js"></script>
    <!-- clipboard-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/clipboard/clipboard.min.js"></script>
    <!-- customcard-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/custom-card/custom-card.js"></script>
    <!-- chart_widget-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/chart-widget.js"></script>
    <!-- custom script -->

    <!-- touchspin -->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/touchspin_2/custom_touchspin.js"></script>
    <!-- swiper-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/swiper/swiper-bundle.min.js"></script>
    <!-- product_miniswiper-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/product/custom-product.js"></script>
    <!-- Range Slider js-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/vendors/range-slider/rSlider.min.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/rangeslider/rangeslider.js"></script>

    <!-- product_tab-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/product/product-tab.js"></script>
    <!-- touchspin-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/touchspin/touchspin.js"></script>
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/touchspin/input-groups.min.js"></script>

    <!-- theme_customizer-->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/theme-customizer/customizer.js"></script>
    <!-- custom script -->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/assets/js/script.js"></script>

    <!-- button logout -->
    <script src="https://smkn1kuwus.sch.id/client-koperasi-boe/static/logout.js"></script>