{% extends "base.html" %}
{% block title %}Dashboard System{% endblock %}

{% block content %}
<div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <h2>Ecommerce dashboard</h2>
                  <p class="mb-0 text-title-gray">"Welcome back! Continue your journey."</p>
                </div>
                <div class="col-sm-6 col-12">
                  <ol class="breadcrumb">
                    <li class="item">Dashboard &nbsp / &nbsp</li>
                    <li class="breadcrumb-item active"> Ecommerce</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid dashboard-2">
            <div class="row">
              <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="items-slider">
                      <div class="swiper mySwiper1">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-primary">
                              <div class="header-top">
                                <div class="badge badge-primary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/1.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-primary">Special Offer</h4>
                              <p class="mb-0">Smart Design Watch Multi Color</p>
                              <h6>$26.00<span>&nbsp;$30.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-primary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-secondary">
                              <div class="header-top">
                                <div class="badge badge-secondary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/5.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-secondary">Weekend Sale</h4>
                              <p class="mb-0">HeadPhone 3rd Generation</p>
                              <h6>$36.00<span>&nbsp;$70.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-secondary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="items-slider">
                      <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-secondary">
                              <div class="header-top">
                                <div class="badge badge-secondary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/2.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-secondary">Weekend Sale</h4>
                              <p class="mb-0">AirPods 3rd Generation Silicone Skin</p>
                              <h6>$16.00<span>&nbsp;$30.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-secondary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-primary">
                              <div class="header-top">
                                <div class="badge badge-primary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/6.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-primary">Special Offer</h4>
                              <p class="mb-0">Smart Design Phone Multi Color</p>
                              <h6>$86.00<span>&nbsp;$60.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-primary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="items-slider">
                      <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-secondary">
                              <div class="header-top">
                                <div class="badge badge-secondary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/2.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-secondary">Weekend Sale</h4>
                              <p class="mb-0">AirPods 3rd Generation Silicone Skin</p>
                              <h6>$16.00<span>&nbsp;$30.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-secondary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="slider-box bg-light-primary">
                              <div class="header-top">
                                <div class="badge badge-primary rated-product-badge">Hot</div><img class="img-fluid" src="../static/assets/images/dashboard-2/6.png" alt=""/>
                                <div class="i fa-regular fa-heart"></div>
                              </div>
                            </div>
                            <div class="slider-content text-center">
                              <h4 class="text-primary">Special Offer</h4>
                              <p class="mb-0">Smart Design Phone Multi Color</p>
                              <h6>$86.00<span>&nbsp;$60.00</span></h6>
                              <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#minus"></use>
                                  </svg></span>
                                <input class="form-control bg-light-primary input-touchspin" type="text" value="1"/><span class="input-group-text increment-touchspin">
                                  <svg class="svg-color">
                                    <use href="../static/svg/iconly-sprite.svg#plus"></use>
                                  </svg></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
{% endblock %}